//colors
$primary-white: #fafafa;
$primary-gray:#696969;
$primary-black: #141414;

//font-falily
$base-font-family: "Epilogue", sans-serif;

//font-weidth
$font-weight-500: 500;
$font-weight-700: 700;

//font-size
$base-font-size: 1.125rem;
$font-size-s: $base-font-size * 0.7;
$font-size-m: $base-font-size * 1.2;
$font-size-l: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
